.navContainer {
  display: flex;
  align-content: center;
  justify-content: space-between;
  height: 50px;
  flex-wrap: wrap;
  border-bottom: 1px solid grey;
}

.sessionContainer{
  display: flex;
  align-content: center;
  justify-content: space-around;
  width: 15%;
}

.sessionContainer > * {
  background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
